.App {
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding: 0.5em 2em;
  background-color: lightgray;
  border-radius: 0.5em;
}

/* .ag-theme-alpine {
  --ag-foreground-color: orange;
} */


/* .ag-header-cell-text {
  font-size: 1.5em;
} */
